[submodule "TMMKG"]
	path = TMMKG
	url = https://github.com/JiHui11/TMMKG.git
[submodule "trustgraph"]
	path = trustgraph
	url = https://github.com/trustgraph-ai/trustgraph.git
[submodule "ChatGPT_for_IE"]
	path = ChatGPT_for_IE
	url = https://github.com/pkuserc/ChatGPT_for_IE.git
